
.dark-background{
  background-color: #003459;
  color: #fff;
}

.light-background{
  background-color: #B3DEC1;
  color:#000000;
}


.initial-hidden {
  display: none;
  background-color: yellow;
  border-style: dashed;
  border-width: 2px;
  border-color: red;
  padding: 10px;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
